h1 {
    font-size: 2.5em;
    color: #ff0000;
    margin-bottom: 5px;
}

h2 {
    color: #34495e;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}
        
a {
    color: #3498db;
    text-decoration: none;
}

section, 
article {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}